<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64221198282-h8h8gjo3991iijeg2agdkmfh6tr014nq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64221198282-h8h8gjo3991iijeg2agdkmfh6tr014nq</string>
	<key>API_KEY</key>
	<string>AIzaSyDOoeWHX2RlxHcQ_QUHvR-tZJk_RsFluwY</string>
	<key>GCM_SENDER_ID</key>
	<string>64221198282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.canopas.cloudGallery</string>
	<key>PROJECT_ID</key>
	<string>cloud-gallery-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>cloud-gallery-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64221198282:ios:fcb315ff1f4bb4a66e8133</string>
</dict>
</plist>